RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(jpe?g|js|gif|png|bmp|swf|xml|css|pdf|svg|ico|woff|ttf)$ [NC]
RewriteRule ^(.*)$ index.php/$1 [NC,L]